# Introducción a pandas

Es una biblioteca de Python pensada para la manipulación y análisis de datos.

# Objetos

Un objeto es una estructura de datos que pertenece a la librería. El más común es el DataFrame, pero también hay otros como la Series

Estos objetos son instancias de clases definidas por Pandas, y tienen:

Atributos → información asociada (como el tamaño, las columnas, los índices).

Métodos → funciones que podés aplicar sobre ese objeto (como .head(), .describe(), .mean()).

# Dataframes

Un DataFrame es como una tabla: tiene filas y columnas, y cada columna puede tener un tipo de dato diferente. Acá, por ejemplo, tenemos una columna de nombres (texto), una de edades (números) y una de ciudades (texto). Pandas nos permite trabajar con esta estructura de manera muy eficiente.

In [1]:
import pandas as pd  # Importamos la librería

# Creamos un DataFrame a partir de un diccionario
datos = {
    "Nombre": ["Ana", "Luis", "Marta","Carlos", "Lucas", "Miguel"],
    "Edad": [22, 35, 58, 30, 50, 23],
    "Ciudad": ["Buenos Aires", "Rosario", "Córdoba","Buenos Aires", "San Juan", "Rosario"]
}

df = pd.DataFrame(datos)

# Mostramos el DataFrame
df

   Nombre  Edad        Ciudad
0     Ana    22  Buenos Aires
1    Luis    35       Rosario
2   Marta    58       Córdoba
3  Carlos    30  Buenos Aires
4   Lucas    50      San Juan
5  Miguel    23       Rosario

In [2]:
# Si hacen el print (df) se ve con esta visualización, siempre es mejor hacerlo sin el print()
print(df)

   Nombre  Edad        Ciudad
0     Ana    22  Buenos Aires
1    Luis    35       Rosario
2   Marta    58       Córdoba
3  Carlos    30  Buenos Aires
4   Lucas    50      San Juan
5  Miguel    23       Rosario

In [3]:
df

   Nombre  Edad        Ciudad
0     Ana    22  Buenos Aires
1    Luis    35       Rosario
2   Marta    58       Córdoba
3  Carlos    30  Buenos Aires
4   Lucas    50      San Juan
5  Miguel    23       Rosario

In [4]:
print(df.shape)

(6, 3)

In [5]:
# Y métodos
print(df.head())    # Muestra las primeras 5 filas del df
print()
print(df.describe())  # Estadísticas básicas de las columnas numéricas

   Nombre  Edad        Ciudad
0     Ana    22  Buenos Aires
1    Luis    35       Rosario
2   Marta    58       Córdoba
3  Carlos    30  Buenos Aires
4   Lucas    50      San Juan

            Edad
count   6.000000
mean   36.333333
std    14.706008
min    22.000000
25%    24.750000
50%    32.500000
75%    46.250000
max    58.000000

# Series

Una Serie es un objeto unidimensional de Pandas. Es como una columna de Excel o una lista, pero con etiquetas (índices) que podés personalizar.

Es más poderosa que una lista común porque tiene etiquetas para cada dato.

Puede contener números, texto, fechas, etc.

Es la unidad básica sobre la que se construyen los DataFrames.

In [6]:
import pandas as pd

# Creamos una Serie con una lista de valores
edades = pd.Series([22, 35, 58], index=["Ana", "Luis", "Marta"])

# Mostramos la Serie
edades

Ana      22
Luis     35
Marta    58
dtype: int64

In [7]:
lista = [22, 35, 58]  # No tiene etiquetas
serie = pd.Series(lista, index=["Ana", "Luis", "Marta"])  # Tiene etiquetas